.login-form {
    width: 100%;
  }
  
  .login-form-title {
    font-family: Nunito, sans-serif;
    display: block;
    font-size: 30px;
    color: #000;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .login-form-title img {
    width: 90px;
  }
  
  .wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #ababab;
    margin-top: 37px;
  }
  
  .input {
    font-size: 15px;
    color: #000;
    line-height: 1.2;
    border: none;
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    padding: 0 5px;
    font-family: Nunito, sans-serif;
  }
  
  .focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #19882c;
    background: -webkit-linear-gradient(to right, #19882c, #0a5517);
    background: -o-linear-gradient(to right, #19882c, #0a5517);
    background: -moz-linear-gradient(to right, #19882c, #0a5517);
    background: linear-gradient(to right, #19882c, #0a5517);
  }
  
  .focus-input::after {
    font-family: Nunito, sans-serif;
    font-size: 15px;
    color: #2e2e2e;
    line-height: 0.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .input:focus {
    outline: 0;
  }
  
  .input:focus+.focus-input::after {
    top: -15px;
  }
  
  .input:focus+.focus-input::before {
    width: 100%;
  }
  
  .has-val+.focus-input::after {
    top: -15px;
  }
  
  .has-val+.focus-input::before {
    width: 100%;
  }

  .msg-error{
    color: red;
    font-size: 12px;
  }